<div class="d-flex flex-column align-items-center justify-content-center">
    <h1 class="text-center text-secondary-emphasis fw-bold pt-5 ">PORTFOLIO COMPONENT</h1>
    <div class="line position-relative">
        <div class="star">
            <i class="fa-solid fa-star "></i>
        </div>
    </div>

</div>



<div class="container">
    <div class="row p-4">
        <div class="col-md-4 mb-4">
            <div class="image position-relative">
                <div
                    class="overlay bg-success w-100 h-100 position-absolute rounded-3 opacity-0 d-flex justify-content-center align-items-center">
                    <div class="rounded-circle d-flex align-items-center justify-content-center">
                        <i class="plus fa-solid fa-plus fa-2xl " style="color: #ffffff;"></i>
                    </div>
                </div>
                <img class="w-100 rounded-3" src="./assets/images/poert1.png" alt="">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="image position-relative">
                <div
                    class="overlay bg-success w-100 h-100 position-absolute rounded-3 opacity-0 d-flex justify-content-center align-items-center">
                    <div class="rounded-circle d-flex align-items-center justify-content-center">
                        <i class="plus fa-solid fa-plus fa-2xl " style="color: #ffffff;"></i>
                    </div>
                </div>
                <img class="w-100 rounded-3" src="./assets/images/port2.png" alt="">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="image position-relative">
                <div
                    class="overlay bg-success w-100 h-100 position-absolute rounded-3 opacity-0 d-flex justify-content-center align-items-center">
                    <div class="rounded-circle d-flex align-items-center justify-content-center">
                        <i class="plus fa-solid fa-plus fa-2xl " style="color: #ffffff;"></i>
                    </div>
                </div>
                <img class="w-100 rounded-3" src="./assets/images/port3.png" alt="">
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="image position-relative">
                <div
                    class="overlay bg-success w-100 h-100 position-absolute rounded-3 opacity-0 d-flex justify-content-center align-items-center">
                    <div class="rounded-circle d-flex align-items-center justify-content-center">
                        <i class="plus fa-solid fa-plus fa-2xl " style="color: #ffffff;"></i>
                    </div>
                </div>
                <img class="w-100 rounded-3" src="./assets/images/poert1.png" alt="">
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="image position-relative">
                <div
                    class="overlay bg-success w-100 h-100 position-absolute rounded-3 opacity-0 d-flex justify-content-center align-items-center">
                    <div class="rounded-circle d-flex align-items-center justify-content-center">
                        <i class="plus fa-solid fa-plus fa-2xl " style="color: #ffffff;"></i>
                    </div>
                </div>
                <img class="w-100 rounded-3" src="./assets/images/port2.png" alt="">
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="image position-relative">
                <div
                    class="overlay bg-success w-100 h-100 position-absolute rounded-3 opacity-0 d-flex justify-content-center align-items-center">
                    <div class="rounded-circle d-flex align-items-center justify-content-center">
                        <i class="plus fa-solid fa-plus fa-2xl " style="color: #ffffff;"></i>
                    </div>
                </div>
                <img class="w-100 rounded-3" src="./assets/images/port3.png" alt="">
            </div>
        </div>
    </div>
</div>